/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.2 | 20191019
   License: none (public domain)
*/
* {
  font-family: var(--ibm-plex-sans-kr);
  box-sizing: border-box;
}

body {
  background: rgb(238, 238, 238);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

menu,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  display: block;
  text-decoration: none;
  background: transparent;
  color: #171717;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #171717;
  text-underline-offset: 3px;
}

header {
  height: 73px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
header .top-area {
  height: 100%;
  display: grid;
  grid-template-columns: minmax(auto, 85px) repeat(6, 1fr) minmax(auto, 85px);
  padding: 10px 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.75px;
}
header .top-area li {
  padding: 0 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .top-area li + li::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 35px;
  background: #171717;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-40%);
}
header .top-area li.hamburger {
  display: none;
  flex-direction: column;
  gap: 7px;
}
header .top-area li.hamburger div {
  width: 26px;
  height: 2px;
  background: #171717;
}
header .top-area li.logo a img {
  max-height: 52px;
  width: auto;
}
header .top-area li.logo a img.m {
  display: none;
}
header hr {
  border: 1px solid #171717;
}
header .bottom-area {
  display: none;
  grid-template-columns: minmax(auto, 85px) repeat(6, 1fr) minmax(auto, 85px);
  font-weight: 400;
}
header .bottom-area li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  padding: 14px 0;
  text-align: center;
  position: relative;
}
header .bottom-area li.login {
  grid-column: 1/-1;
  justify-self: flex-end;
  padding: 15px 15px 15px 90%;
  margin-top: 5px;
  text-align: end;
  width: -moz-max-content;
  width: max-content;
  border: 2px solid #171717;
  border-width: 2px 0px;
}
header .bottom-area li + li:not(.login)::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 85%;
  background: #171717;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

@media all and (max-width: 1024px) {
  header .top-area {
    display: flex;
    justify-content: space-between;
  }
  header .top-area li.logo a img {
    max-height: 40px;
  }
  header .top-area li.logo a img.pc {
    display: none;
  }
  header .top-area li.logo a img.m {
    display: block;
  }
  header .top-area li:not(.logo):not(.hamburger) {
    display: none;
  }
  header .top-area li + li::after {
    display: none;
  }
  header .top-area li.hamburger {
    display: flex;
  }
}